# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Xcode
AccessControl.xcodeproj/
AccessControl/AccessControl.1
AccessControl/*.o
AccessControl/.DS_Storei
AccessControl/acceso-rem
AccessControl/serv-acceso
.DS_Store
